<!DOCTYPE html>

<html>

	<head>
		<title>Classifier</title>
		<meta charset="UTF-8"/>
		<!--credit to bootstrap -->
		<!--href= "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"-->
		{% load static %}
		<link rel="stylesheet" href="{% static "text_classifier/bootstrap.css" %}" type='text/css'>
		<!-- credit to google apis:-->
		<!--https://fonts.googleapis.com/css?family=Roboto:300,400,700-->
		<link href="{% static "text_classifier/googleapis.css" %}"  rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="{% static "text_classifier/main.css" %}"  >
	</head>

	<body class="part2" >
		<!-- Jumbotron -->
		<section class="jumbotron" >
			<div class="container">
				<div class="text-center">
					<h1>Toxicity Classifier</h1>
              <br>
                <form action="/text_classifier/part2" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="Submit">
                </form>
				</div>
			</div>
		</section>

	</body>
</html>
