/*
 * Chunan Huang
 */

/* ----------------- Jumbotron ------------------- */
.jumbotron {
	display: flex;
	align-items: center;
	/*background-size: cover;*/
	height: 725px;

}
.main .jumbotron{
	background-image:url("./forest.gif");
  background-position: center;
  background-repeat: no-repeat;
	background-size: cover;
}
.part1 .jumbotron{
	background-image:url("./back.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.part1 .jumbotron h1{
	margin-bottom: 50px;
}
.part2 .jumbotron{
	background-image:url("./cat.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.part2 .jumbotron h1{
	margin-bottom: 50px;
}
/* ------------- jumb text ------------ */
.text-center h1 {
	font-size: 80px;
	font-weight: 500;
	margin: 0;
	color: #fff;
	font-family: 'Arial', sans-serif;
}
.text-center h3 {
	color: #eee;
	font-size:20px;
	font-style: italic;
	font-family: 'Arial', sans-serif;
}
/* ----------- input form ---------- */

input[type=text]{
  width: 500px;
	height:50px;
  padding: 20px;
	margin: 8px;
  border: 1px solid #ccc;
  border-radius: 24px;
  box-sizing: border-box;
	resize: vertical;
	color:#666;
	font-size: 17px;
}

input[type=submit] {
	height:32px;
  background-color: #4CAF50;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


 /* ------ option ------- */
#option .row{
	display: flew;
	align-items: center;
	margin-top: 80px;
}
#option a{
	font-size: 40px;
	font-family: cursive;
	background: white;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

/* ------------ Result ----------------- */
#result1{
	background-image:url("./light.gif");
	height: 725px;
	background-position: center;
  background-repeat: no-repeat;
	background-size: cover;
}

#analysis{
	margin-top: 20px;
	width: 400px;
}