/*
 * Chunan Huang
 */

/* ----------------- Jumbotron ------------------- */
.jumbotron {
	display: flex;
	align-items: center;
	background-color: rgba(0,0,0,0);
	background-size: cover;
	height: 725px;
}

.main {
	background-image:url("./forest.gif");
  background-position: center;
  background-repeat: no-repeat;
	background-size: cover;
}
.part1 {
	background-image:url("./back.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.part2 {
	background-image:url("./cat.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* ------------- jumb text ------------ */
.text-center h1 {
	font-size: 80px;
	font-weight: 500;
	margin: 0;
	color: #fff;
	font-family: 'Arial', sans-serif;
}
.text-center h3 {
	color: #eee;
	font-size:20px;
	font-style: italic;
	font-family: 'Arial', sans-serif;
}
/* ----------- input form ---------- */

input[type=text]{
  width: 500px;
	height:50px;
  padding: 20px;
	margin: 8px;
  border: 1px solid #ccc;
  border-radius: 24px;
  box-sizing: border-box;
	resize: vertical;
	color:#666;
	font-size: 17px;
}

input[type=submit] {
	height:32px;
  background-color: #4CAF50;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

 /* ------ option ------- */
#option .row{
	display: flex;
	align-items: center;
	margin-top: 80px;
}
#option a{
	font-size: 40px;
	font-family: cursive;
	background: white;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
.color{
	color: white;
}
/* ------------ Result ----------------- */
.vertical{
	padding-left: 20px;
	border-radius: 20px;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}

#board{
	background-color: rgba(0,1,0,0.5);
	background-position: center;
  background-repeat: no-repeat;
	background-size: cover;
	border-radius: 20px;
}

.horizontal{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.chart{
	height: 270px;
	weight: 480px;
	margin: 8px;
	border-radius: 10px;
}

#analysis{
	margin-top: 20px;
	width: 400px;
}
/*---mark---*/
.important_uni{
	background-color: yellow;
	font-size: 16px;
	font-style:italic;
	color: blue;
	cursor: pointer;
}
#process{
	margin-left: 4px; 
}
.normal{
	background-color: rgba(0,0,0,0);
	font-size: 16px;
	font-style:italic;
	color: white;
}

#example{
	font-size: 20px;
	color: white;
}

/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}